doctype html
html(lang="en")
  head
    title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    h2=book.title
    h3=book.author
    h3=book.genre
    h3=book.language
    a(href="../") &larr; Back 