div
  label(for="title") Title:
  input(type="text", name="title" value=book.title)
div
  label(for="author") Author:
  input(type="text", name="author" value=book.author)
div
  label(for="genre") Genre:
  input(type="text", name="genre" value=book.genre)
div
  label(for="language") Language:
  input(type="text", name="language" value=book.body)
input(type="submit")