doctype html
html(lang="en")
  head
    title Guiding Light Islamic Center Library
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    h1 Guiding Light Islamic Center Library
    h2 Our Book Selection
    
    each book in bookList
      book
        p
          span= book.title
          | 
          a(href=`/${book.id}`) Learn More

    p This library is open to all in our local Louisville Muslim community!
    a(href="/new") Add New Book