doctype html
html(lang="en")
  head
    title Guiding Light Islamic Center Library
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    h1 Guiding Light Islamic Center Library
    p This library is open to all in our local Louisville Muslim community!