doctype html
html(lang="en")
  head
    title Guiding Light Islamic Center Library
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    div#container
      h1#indexTitle Guiding Light Islamic Center Library
      h2#indexSubtitle Our Book Selection
      
      each book in bookList
        book
          p
            span= book.title
            | 
            a(href=`/${book.id}`) Learn More

      a(href="/new")#addBook Add New Book