doctype html
html(lang="en")
  head
    title Guiding Light Islamic Center Library
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    h1 Guiding Light Islamic Center Library
    h2 Submit a new book to our Library! 

  form(action="/", method="post")
    include form