body {
    margin: 0;
    padding: 0;
    background-image: url("../img/islamicArt_9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {font-family: "BioRhyme-Light"; src: url("../fonts/BioRhyme-Light.ttf"); }
@font-face {font-family: "RedRose-Light"; src: url("../fonts/RedRose-Light.ttf"); }

h1 {
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h2 {
    color: #af0069;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: RedRose-Light;
    color: #f0f0f0;
}

a {
    color: #af0069;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#addBook {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    text-align: center;
    border: 2px #df99c3 solid;
    margin: 0 25%;
    color: white;
    background-color: #af0069;
}

#addBook:hover {
    color: white;
    background-color: #df99c3;
    border: 2px #af0069 solid;
    transition: background-color 2s;
    transition: border 2s;
}

a:hover {
    color: cornflowerblue;
    background-color: #e7f5fe;
    transition: background-color 4s;
    transition: color 2s;
}

p {
    font-size: 14px;
}


#indexTitle {
    font-family: BioRhyme-Light;
    color: #ffffff;
}

#indexSubtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: #f0f0f0;
}

span {
    font-family: BioRhyme-Light;
    color: #ffffff;
}

#container {
    margin: 0 25%;
    text-align: left;
    background-color: rgba(160,193,184, 0.95);
    border: 2px #709fb0 solid;
    outline: 1px green solid;
}

#bookViewing {
    background-color: #f3fbfa;
    margin: 0 25%;
    text-align: center;
}

form {
    text-align: center;
}